<div class="ui three cards">
  <div class="card">
    <a class="image">
      <img src="assets/img/1.jpg">
    </a>
    <div class="content">
      <a class="header">Elliot Fu</a>
      <div class="meta">
        <a>Friends</a>
      </div>
      <div class="description">
        Elliot Fu is a film-maker from New York.
      </div>
    </div>
  </div>
  <div class="card">
    <a class="image">
      <img src="https://tctechcrunch2011.files.wordpress.com/2015/04/macbook-front.jpg?w=1279&h=727&crop=1">
    </a>
    <div class="content">
      <a class="header">Helen Troy</a>
      <div class="meta">
        <a>Friends</a>
      </div>
      <div class="description">
        Helen Troy is an archivist living in New York, who enjoys cooking, fine art, and gardening.
      </div>
    </div>
  </div>
  <div class="card">
    <a class="image">
      <img src="https://cdn1.vox-cdn.com/thumbor/k9aXUJVYP5w1A_AMkJG9aiG_g0s=/cdn0.vox-cdn.com/uploads/chorus_asset/file/3585726/new-apple-macbook-2015-_-_22.0.jpg">
    </a>
    <div class="content">
      <a class="header">Jenny Hess</a>
      <div class="meta">
        <a>Friends</a>
      </div>
      <div class="description">
        Jenny is a student studying Media Management at the New School.
      </div>
    </div>
  </div>
<div class="ui three column grid">

  <div class="column">
    <div class="ui fluid red card">
      <div class="image">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/15/73/fc/1573fc7afb3f5e3f0c0c70803fea230e.jpg">
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid yellow card">
      <div class="image">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/e3/c8/48/e3c8481dcd04ff0de46dc528cbafcf5b.jpg">
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid pink card">
      <div class="image">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/59/b9/04/59b904ac430e25e6757fe47532ea0748.jpg">
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid red card">
      <div class="image">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/15/73/fc/1573fc7afb3f5e3f0c0c70803fea230e.jpg">
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid yellow card">
      <div class="image">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/e3/c8/48/e3c8481dcd04ff0de46dc528cbafcf5b.jpg">
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="ui fluid pink card">
      <div class="image">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/59/b9/04/59b904ac430e25e6757fe47532ea0748.jpg">
      </div>
    </div>
  </div>

</div>