<div class="ui stackable three column grid">

  <div class="column">
    <div class="ui fluid red card">
      <div class="image">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/15/73/fc/1573fc7afb3f5e3f0c0c70803fea230e.jpg">
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid yellow card">
      <div class="image">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/e3/c8/48/e3c8481dcd04ff0de46dc528cbafcf5b.jpg">
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid pink card">
      <div class="image">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/59/b9/04/59b904ac430e25e6757fe47532ea0748.jpg">
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid red card">
      <div class="image">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/15/73/fc/1573fc7afb3f5e3f0c0c70803fea230e.jpg">
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid yellow card">
      <div class="image">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/e3/c8/48/e3c8481dcd04ff0de46dc528cbafcf5b.jpg">
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="ui fluid pink card">
      <div class="image">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/59/b9/04/59b904ac430e25e6757fe47532ea0748.jpg">
      </div>
    </div>
  </div>

</div>