<script>
	$('.demo.menu .item').tab({history:false});
</script>


<div class="ui pointing secondary demo menu">
    <a class="active red item" data-tab="first">Delitos Informáticos</a>
    <a class="blue item" data-tab="second">Informática en la Ingenieria de Sistemas</a>
    <a class="green item" data-tab="third">Hardware & Software</a>
</div>

<div class="ui active tab segment" data-tab="first">
	
		<iframe src='https://onedrive.live.com/embed?cid=5C5F930440582929&resid=5C5F930440582929%211262&authkey=ACqVM_K9aztAiIU&em=2&wdStartOn=1'  width='100%' 
		height="500px" frameborder='0'></iframe>

	
</div>

<div class="ui tab segment" data-tab="second">

<script>
		$('#WACContainer').removeAttr('style');
		</script>
	
		<iframe src='https://onedrive.live.com/embed?cid=5C5F930440582929&resid=5C5F930440582929%211263&authkey=ADVUQhcb_gR4Cmc&em=2&wdStartOn=1' width='100%' height="500px" frameborder='0'></iframe>
	
</div>

<div class="ui tab segment" data-tab="third">
	
		<iframe src='https://onedrive.live.com/embed?cid=5C5F930440582929&resid=5C5F930440582929%211264&authkey=AFkawaugETRQJDE&em=2&wdStartOn=1' width='100%' height="500px" frameborder='0'></iframe>
	
</div>



