<h2>delitos informáticos</h2>
<div class="ui divider"></div>	
<div class="video-container">

	<iframe src='https://onedrive.live.com/embed?cid=5C5F930440582929&resid=5C5F930440582929%211262&authkey=ACqVM_K9aztAiIU&em=2&wdStartOn=1' width='476px' height='288px' frameborder='0'>Esto es un documento de <a target='_blank' href='http://office.com'>Microsoft Office</a> incrustado con tecnología de <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>

</div>

<h2>informática en la ingenieria de sistemas</h2>
<div class="ui divider"></div>

<div class="video-container">
	<iframe src='https://onedrive.live.com/embed?cid=5C5F930440582929&resid=5C5F930440582929%211263&authkey=ADVUQhcb_gR4Cmc&em=2&wdStartOn=1' width='476px' height='288px' frameborder='0'>Esto es un documento de <a target='_blank' href='http://office.com'>Microsoft Office</a> incrustado con tecnología de <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>
</div>


<h2>taller hardware & software</h2>
<div class="ui divider"></div>

<div class="video-container">
	<iframe src='https://onedrive.live.com/embed?cid=5C5F930440582929&resid=5C5F930440582929%211264&authkey=AFkawaugETRQJDE&em=2&wdStartOn=1' width='476px' height='288px' frameborder='0'>Esto es un documento de <a target='_blank' href='http://office.com'>Microsoft Office</a> incrustado con tecnología de <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>
</div>