<div class="column">
	    	<img src="assets/img/1.jpg" alt="" class="ui medium circular image">
	    	<h2>
	    		Autobiografía
	    	</h2>
	    	<div class="ui divider"></div>
	    	<p>
	    		8 de marzo de 1997, 8:15 de la mañana, peso: 3900 gramos, estatura: 49 centímetros, tez: blanca, cabello: rojo. Ajado como la hoja de un fracasado intento de poema, en un pequeña sala del centro de salud de San Javier (entidad de salud), después de ser llevado durante nueve magnos y lacerantes meses en el vientre de una impávida doncella; en donde yo, aquella criatura que al inhalar su primer sorbo de oxigeno, brindar su primer sollozo a este esplendido pero execrable mundo, y permutar el abominable dolor de aquella doncella por una exorbitante bonanza: Comenzó su vida.
	    	</p>

			<p>
				Mis primeros días no fueron más que medicina, medicina y medicina, ya que por causa de unos altibajos en mi bilirrubina estuve interno junto con mi madre durante 15 días en la entidad de salud. Yo pasaba la mayor parte del día en la incubadora y solo podía estar fuera de ella mientras mi madre me alimentaba. Siempre fue así mientras estuvimos en ese lugar. A causa de las pocas ocasiones en las que podía mi madre alimentarme, pasó un vasto e incansable dolor, debido a que su lactancia materna se acumulaba demasiado, causándole esto como consecuencia la mastitis; yo mientras mi madre sufría otra vez, estaba aun en la recámara de incubación, recibiendo tratamiento y siendo alimentado.
			</p>
			<p>
				23 de marzo del mismo año, la entidad de salud determina que mi madre y yo somo aptos para darnos de alta. Ese mismo día al abandonar la entidad nos dirigimos hacia la casa de mi abuela para terminar de tratar a mi madre y a mí, con todas las medidas necesarias.
			</p>
			<p>
				Algunos meses después, mi padre y mi madre, agradecidos por los cuidados prestados por mi abuela, abandonan la casa con migo, y empezamos a labrar nuestro propio camino como familia. Todo estuvo bien durante un tiempo, luego por dificultades económicas, mi padre y mi madre piden de nuevo a mi abuela que los acogiese en su hogar. Mi abuela, a pesar de no ser la persona más amable del mundo, nos abrió las puertas de su hogar.
			</p>
			<p>
				En esa casa crecí, en esa casa, a mis diez meses, ya sabía caminar, en esa casa me hice mi primer herida, en esa casa aprendí lo que es amar la familia, conocí que es un hogar, pero más que un hogar es ¡Mi hogar!.
			</p>
			<p>
				Cuanto alcancé la edad de un año y medio, nació mi hermana, para ser más exacto, nació el 17 de junio de 1998. Al principio no le demostraba mucho afecto, y nunca se lo demostré en cantidad, pero ella sabe igualmente lo mucho que me importa y lo mucho que la quiero; ella hace parte de las personas que más importantes considero.
			</p>
			<p>
				A mis siete años murió mi padre, fue duro al principio y me vi afectado, pero después de tanto pensar y reflexionar sobre el daño que nos hizo a mi madre y a mi, inmediatamente cambió mi manera de ver las cosas, ya el mundo nunca volvió a a ser igual para mí. Empecé la búsqueda de mi propio yo, no del yo que mi padre quiso implantar en mí; cuando hablo del “yo” que me quiso implanta, hablo del clásico hombre amante del fútbol y esa clase de cosas. El esquema de hombre común. Primero practiqué fútbol por un tiempo y quedé totalmente convencido de que no es de mi gusto, y así sucesivamente con otros aspectos.
			</p>
			<p>
				Entre mis 13 y 14 años sucedió lo inesperado. Al obtener como regalo mi primer ordenador de mesa, y conocer a Juan Gustavo Zuleta Montolla, los computadores se convirtieron en mi más grande pasión, y empiezo a tener en cuenta como futura profesión la Ingeniería en sistemas.
			</p>
			<p>
				Después de que Zuleta me mostrara las maravillas de la tecnología, durante todo un año me dedique a entender mejor la tecnología y a experimentar con ella, aprendí sobre el uso de la suite de diseño de Adobe y la dominé, pero cuando descubrí la web, me enamore de ese mundo.
			</p>
			<p>
				¿Qué es una página web ?, ¿Quién las hace?, ¿Cómo se hacen?, ¿Será que puedo hacerlas yo también?. Esas fueron las preguntas que desataron la decisión de tomar como mi futura profesión:  ingeniería en sistemas.
			</p>
			<p>
				18 de enero de 2012, terminé un curso de programación básica, el cual tuvo una duración de tan solo 40 horas, horas en las cuales aprendí como maquetar una página web básica; Durante todo 2012 mi principal enfoque fue el auto-aprendizaje sobre la programación web, fui mejorando poco a poco, hasta que conseguí la suficiente experiencia como para enseñar.
			</p>
			<p>
				25 de agosto del mismo año, nace YEIK SITE; iniciativa sin animo de lucro, la cual tiene como único fin enseñar sobre la web a quien lo desee, desde nivel básico, hasta medio-avanzado.
			</p>  

</div>